@model DOAN_14.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XÓA LOẠI SẢN PHẨM</h2>

<h3>Bạn có chắc là xóa LOẠI SẢN PHẨM này không?</h3>
<div>
    @*<h4>Category</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Mã loại :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>
        <dt>
            Tên m :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" style="background: rgb(128, 0, 0); color: white" /> |
            @Html.ActionLink("Quay lại LOẠI SP", "Index")
        </div>
    }
</div>
