@model IEnumerable<DOAN_14.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>LOẠI SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã
        </th>
        <th>
            Mã loại
        </th>
        <th>
            Tên loại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCate)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
